bower_components
npm_modules
node_modules
app/libs/ext
.brackets.json
/.vs
/app/bin
.release
typings/*
typings/*/
!typings/jquery
npm-debug.log
.release
.build
dist/

# User-specific files
*.suo
*.user
*.sln.docstates
!dev-server.js
app/*/*.js
test/*/*.js

debug.log